@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Playfair+Display&family=Poppins&family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-family: "DM Serif Text", serif;
}

.navbar {
  background-color: #090011;
}

#navbartext:hover {
  background-color: aliceblue;
  color: #000000;
}

#navbartext {
  color: white;
}

#navbartext:active {
  color: #ffc23c;
}

#About {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "questrial", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #000000, #090011);
  color: white;
}

#Projects {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "questrial", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #000000, #090011);
  color: white;
}

#metaverse {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "questrial", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #000000, #090011);
  color: white;
}

#desaingrafis {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "questrial", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #000000, #090011);
  color: white;
}

#animasilogo {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "questrial", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #000000, #090011);
  color: white;
}

#Contact {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "questrial", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #000000, #090011);
  color: white;
}

.jumbotron {
  align-items: center;
  padding-top: 6rem;
  font-family: "questrial", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #000000, #090011);
  color: white;
}

.btn:hover {
  background-color: white;
}

.card {
  background-color: #0f001b;
  color: aliceblue;
}

#teksmetaverse {
  font-size: 16px;
}
